*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(204, 199, 196);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.button {
  position: relative;
}
#subscribe-us {
  padding: 15px 20px;
  background: black;
  color: white;
  text-transform: uppercase;
  border-radius: 10px;
  font-size: 20px;
  display: inline-block;
  cursor: pointer;
  font-weight: 500;
  letter-spacing: 2px;
}
#subscribe-us:hover {
  letter-spacing: 4px;
}
#model {
  position: fixed;
  top: 50%;
  left: -100%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 450px;
  padding: 80px 50px 50px;
  transition: 0.5s;
  visibility: hidden;
}
#model.active {
  visibility: visible;
  left: 50%;
}
#model .model-content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#model img {
  width: 80px;
}
#model h2 {
  font-size: 24px;
  font-weight: 900;
  color: #000;
  margin: 20px 0px;
}
#model p {
  color: #000;
}
#model .input-box {
  margin-top: 20px;
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#model input {
  width: 100%;
  border: 1px solid #ccc;
  padding: 15px;
  outline: none;
  font-size: 18px;
}
#model input[type="submit"] {
  letter-spacing: 2px;
}
#model input[type="submit"]:hover {
  letter-spacing: 4px;
}
.close {
  position: absolute;
  top: 30px;
  right: 30px;
  cursor: pointer;
}
.close img {
  width: 20px !important;
}
